* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: rgba(10, 196, 15, 0.5);
}

.box {
  height: 275px;
  color: white;
  padding: 0;
  margin: 15px;
}
.row_box {
  height: 70vh;
  margin: auto 0;
}
